.error
{
  color:red;
}
 .disabled{
  pointer-events: none;
} 
.google-login-btn{
	display: inline-block;
    background: rgb(209, 72, 54);
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: bold;
    font-family: Roboto;
    cursor: pointer;
}
.login-buttons-seperator{
	margin:0 10px;
}
.login-bg-image{
	position: relative !important;
	display: inline-grid;
	width:100%;
	/* left: 0;
	right: 0;
	top: 0;
	height: 630px !important; */
}
.login-bg-image .image{
	position: absolute;
	height: 100%;
	width:100%;
	z-index: 0;
	background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.login-bg-overlay {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	height: 100%;
	width:100%;
	z-index: 0;
}
.login-bg-content{
	position: relative;
	/* padding: 2rem 0rem; */
	text-align: center;
	color:#fff!important;
}
.login-bg-content h5{
	/*color: #3298DE!important;*/
	font-weight: 600;
	font-size: 24px;
}
.login-bg-content .how-it-works h5{
	color:#dee2e6;
	font-size: 1.1em;
	padding:0.7rem;
}
.login-bg-content .how-it-works p,.login-bg-content .how-it-works h6{
	color:#dee2e6;
	font-size: 1.1em;
	padding:0.4rem 0.7rem;
}
.login-bg-content .how-it-works h6{
	color:#fff!important;
	font-weight: 600;
}
.market-bg-feature{
	font-size: 1.8em!important;
}
.login-form{
	background:rgba(8, 22, 53, 0.77) !important;
	height: auto !important;
}
.login-label,.header-image-content h4,.header-image-content p,.color-white{
	/*color:#4A4A4A !important;	*/
	color:white !important;	
}
.login-label,.header-image-content h4{
	font-size: 1.65rem !important;
}

.login-form label,.login-form p.remember-checkbox{
	display: inherit !important;
	color: #fff;
}
.header-image-content h1{
	color: #3298DE!important;	
	font-weight: 650;
	font-size: 3rem;
	line-height: 3rem;
}
.explore-btn{
	padding: 10px 30px!important;
    font-size: 1rem!important;
}
.header-image-p{
	font-size: 1.2rem !important;
}
.loanbase-container{
	color:grey !important;
	background: white !important;
}
.loanbase-step-container{
	border:1px solid #727b98;
    border-radius: 5px !important;
    margin: 1rem 0!important;
    text-align: left;
    overflow: hidden;
    background-image: -webkit-gradient(linear,left bottom,left top,from(hsla(0,0%,65%,.3)),to(hsla(0,0%,100%,.3)));
    background-image: -webkit-linear-gradient(bottom,hsla(0,0%,65%,.3),hsla(0,0%,100%,.3));
    background-image: -o-linear-gradient(bottom,hsla(0,0%,65%,.3),hsla(0,0%,100%,.3));
    background-image: linear-gradient(0deg,hsla(0,0%,65%,.3),hsla(0,0%,100%,.3));
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    color: #fff;
    -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
    -o-transition: all .2s cubic-bezier(.4,0,.2,1);
    transition: all .2s cubic-bezier(.4,0,.2,1);
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    -o-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-transition-delay: initial;
    -o-transition-delay: initial;
    transition-delay: 0s;
}
.loanbase-step-container h5,.loanbase-step-container p,.loanbase-step-container h6{
	margin: 0 !important;
}
.loanbase-container h6,.loanbase-container h5,.loanbase-container h4,.loanbase-container h3,.loanbase-container h2,.loanbase-container h1{
	color:#081635 !important;
}
.color-circle{
	border-radius: 50%;
	height: 50px !important;
	width: 50px !important;
	background: #BCBCBC !important;
	display: inline-block !important;
}
.loanbase-step-container p{
	/* min-height: 60px; */
}
.how-it-works-container{
	background-image: linear-gradient(to right top, #081635, #0b1a3d, #0e1d46, #12214e, #172457, #172559, #18265c, #18275e, #14265a, #102556, #0d2351, #0a224d);
}
.powered-by-container{
	background: white !important;
}
.loanbase-logo-container{
	background: #f6f7f8 !important;
}
.login-bg-content .custom-alert-msg.alert-success h6{
	color: black !important;
}

.login-bg-content .custom-alert-msg.alert-danger h6{
	color: red !important;
}
.loan-base-title{
	position: relative;
}
.loan-base-title.white{
	color:#fff!important;
}
.loan-base-border-left{
	border-left:2px solid #f19b1e;
	padding-left:0.5rem;
}
.loan-base-title:after{
	display: block;
    content: "";
    position: absolute;
    height: 3px;
    background: #f19b1e;
    width: 5%;
    /* top: 3px; */
    bottom: -10px;
    margin: 0 auto;
    left: 0;
	right: 0;
	border-radius: 5em;
}
@media screen and (min-width: 320px) and (max-width: 480px){
    .loanbase-container .row-eq-height,.how-it-works .step-container,.powered-by-container img{
      margin-top: 20px !important;
    }
}