.error
{
  color:red;
}
 .disabled{
  pointer-events: none;
} 
.google-login-btn{
	display: inline-block;
    background: rgb(209, 72, 54);
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: bold;
    font-family: Roboto;
    cursor: pointer;
}
.login-buttons-seperator{
	margin:0 10px;
}
.login-bg-image{
	position: relative !important;
	left: 0;
	right: 0;
	top: 0;
	height: 630px !important;
}
.login-bg-image .image{
	position: absolute;
	height: 100%;
	width:100%;
	z-index: 0;
	background-position: center;
	background-size: cover;
}
.login-bg-overlay {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	height: 100%;
	width:100%;
	z-index: 0;
}
.login-bg-content{
	position: relative;
	padding: 2rem 0rem;
	text-align: center;
	color:#fff!important;
}
.login-bg-content h5{
	/*color: #3298DE!important;*/
	font-weight: 600;
	font-size: 24px;
}
.login-bg-content .how-it-works h5,.login-bg-content .how-it-works p,.login-bg-content .how-it-works h6{
	color: #dee2e6!important;
	font-size: 1.1em;
}
.login-bg-content .how-it-works h6{
	color:#fff!important;
	font-weight: 600;
}
.market-bg-feature{
	font-size: 1.8em!important;
}
.login-form{
	background: #0E0E0E !important;
	height: auto !important;
}
.login-label,.header-image-content h4,.header-image-content p,.color-white{
	/*color:#4A4A4A !important;	*/
	color:white !important;	
}
.login-label,.header-image-content h4{
	font-size: 1.65rem !important;
}

.login-form label{
	display: inherit !important;
}
.header-image-content h1{
	color: #3298DE!important;	
	font-weight: 650;
	font-size: 2.8rem;
}
.outer-container {
	position : absolute;
	display: table;
	width: 100%;
	height: 100%;
}
.inner-container {
	display: table-cell;
	vertical-align: middle;
}
.centered-content {
	display: inline-block;
	padding : 20px;
}
.header-image-p{
	font-size: 1.2rem !important;
}
.loanbase-container{
	color:grey !important;
	background: white !important;
}
.loanbase-step-container{
	border: 1px solid #bcbcbc !important;
	border-radius: 5px !important;
	-webkit-box-shadow: 0px 0px 0px 2px rgba(188, 188, 188, 0.25) !important;
	-moz-box-shadow: 0px 0px 0px 2px rgba(188, 188, 188, 0.25) !important;
	box-shadow: 0px 0px 0px 2px rgba(188, 188, 188, 0.25) !important;
	margin-right: 10px !important;
}
.loanbase-step-container h5,.loanbase-step-container p,.loanbase-step-container h6{
	margin: 0 !important;
}
.loanbase-container h6{
	color:#F09335 !important;
}
.color-circle{
	border-radius: 50%;
	height: 50px !important;
	width: 50px !important;
	background: #BCBCBC !important;
	display: inline-block !important;
}
.loanbase-step-container p{
	text-align: justify !important;
	padding-top: 15px !important;
}
.how-it-works-container{
	color: #163955 !important;
	background: #163955 !important;	
}
.powered-by-container{
	background: white !important;
}
.loanbase-logo-container{
	background: #E0E0E0 !important;
}
.login-bg-content .custom-alert-msg.alert-success h6{
	color: black !important;
}

.login-bg-content .custom-alert-msg.alert-danger h6{
	color: red !important;
}
@media screen and (min-width: 320px) and (max-width: 480px){
    .loanbase-container .row-eq-height,.how-it-works .step-container,.powered-by-container img{
      margin-top: 20px !important;
    }
}