.password-details li {
	list-style: disc outside none;
	display: list-item;
	margin-left: 1em;
	font-size: 13px !important;
}
.password-details li{
    line-height: 20px;
    margin-bottom: 15px;
}
.user-email{
	font-weight: bold !important;
	font-size: 13px !important;
}