.table.funded-request thead th:nth-child(2),.table.funded-request thead th:nth-child(5){
	text-align: right !important; 
}
.seize-collateral-btn{
	color:white !important;
	background-color: rgba(231, 114, 125) !important;
}