.detail-sumary-second-label{
	font-size: 10px !important;
	text-align: right !important;
}
.loan-detail-card-statistics
{
	background-color: #E3FAE0 !important;
}
.loan-detail-numbers{
	font-size: 16px;
	font-weight: bolder;
}
.btn.cognito.repayment-button
{
	background-color: #17A086 !important;
	color: white !important;
	padding:10px 15px;
}
.payment-due{
	opacity: 0.3 !important;
}

.repayment-details
{
	font-size: 16px;
    margin-top: 20px;
    text-align: left;
}
.text-bold{
	font-weight: bolder !important;
}
.make-repayment-btn:focus
{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}