.fund-success-container{
	background-color:#E4FDF9 !important;
	border:none !important;
}
.fund-repaymnet-schedule-text{
	font-size: 18px;
}
.fund-check-green-color{
	font-size: 55px !important;
	color: #6AC359 !important;
}