.content-with-market-bg{
	padding-top:350px;
}
.market-bg-content{
	position: relative;
	padding: 6rem 1.5rem;
	text-align: center;
	color:#fff!important;
}
.market-bg-content h1{
	color: #3298DE!important;
    font-weight: 900;
	font-size: -webkit-xxx-large;
}
.market-bg-content .how-it-works h5,.market-bg-content .how-it-works p,.market-bg-content .how-it-works h6{
	color: #dee2e6!important;
	font-size: 1.2em;
}
.market-bg-content .how-it-works h6{
	color:#fff!important;
    font-weight: 600;
}
.market-bg-feature{
	font-size: 1.8em!important;
}
.market-bg-image{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 350px;
}
.market-bg-image .image{
	position: absolute;
	height: 100%;
	width:100%;
	z-index: 0;
	background-position: center;
    background-size: cover;
}
.bg-overlay {
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	height: 100%;
	width:100%;
	z-index: 0;
}

.open-request td{
	text-align: center !important;
}
.number-highlight{
	font-weight: 600 !important;
	font-size: 14px !important; 
	color:#0f3b56;
}
.open-request-table{
	margin-bottom: 30px !important;
}
.recent-funded-loans-table .card-title,.open-request-table .card-title{
	/* margin-bottom: 0 !important; */
	/* border-bottom: none !important; */
}
.recent-funded-loans-table th:first-child
{
	text-align: left !important; 
}
.filter-disabled{
  opacity: .4;
  cursor: default !important;
  pointer-events: none;
}