.create-loan-buttons-container button{
	width:100% !important;
	margin-bottom: 10px !important; 
	margin-left: 0px !important;
}
.content-wrapper .breadcrumb{
  margin-bottom:0px !important;
  padding: 0px !important; 
}
.card-title-custom{
	font-weight: 500 !important;
}
.create-loan-form .btn-info,.create-loan-form .input-range__slider,.input-range__track--active{
	background-color: #2A80B9 !important;
}
.create-loan-form .input-group-text{
	background-color: #f6f7f8 !important;
    border: none !important;
}
.create-loan-form .btn-primary{
	background-color: #1399DF !important;
}
.link-blue{
	color:#74ABBE !important;
}
.create-loan-container .dropdown-menu.show{
	max-height: 250px !important;
	overflow-y: auto !important;
}

.form-control:focus {
    background: #f6f7f8 !important;
    box-shadow : none !important;
    border-color : #f6f7f8 !important;
}

.side-menu-fixed .side-menu li{
    width: inherit !important; 
}
.side-menu-fixed .side-menu li a{
    padding: 15px !important;
}
.admin-header.navbar.fixed-top + .container-fluid{
    padding-top: 4.6em !important;
}
.btn.cognito.orange:hover{
    background: #f09335 !important;
    color: #ffffff !important;
}
.breadcrumb-item+.breadcrumb-item::before{
    content:">" !important;
}
.breadcrumb-item.active{
    font-weight: 600 !important;
}
.create-loan-container .form-control{
    background: #F6F7F9 !important;
    border: 1px solid #F6F7F9 !important;
}
.red{
    color: red;
}