.my-activities-container thead{
    display: none;
}
/* .my-activities-container .card-title{
    border-bottom: none !important
} */
.my-activities-container table td:nth-child(1) {
    width:30px !important;
    text-align: left !important;
}
.my-activities-container table td:nth-child(2) {
    width:200px !important;
    text-align: left !important;
}
.my-activities-container table td:nth-child(3) {
    width: 90px !important;
    text-align: left !important;
}
.my-activities-container table td:nth-child(4) {
    width:50px !important;
}
.my-activities-container table td:nth-child(5) {
    width:70px !important;
    text-align: left !important;
}
.color-green{
    color:#08CF9B !important;
}
.portfolio-row{
    margin-top:-52px;
}
.my-portfolio-container{
    min-height: 390px !important;
}
.portfolio-empty-image {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.portfolio-bg-image{
    position: absolute;
    left: 0;
    right: 0;
    top: 62px;
    height: 328px;
}

.portfolio-bg-content{
    position: absolute;
    padding: 2rem 2.5rem;
    top: 20% !important;
    left: 5% !important;
    text-align: left;
    line-height: 1.8 !important;
    font-size: 16px !important;
    color:#fff!important;
}